<%- include('header', {admin: true, signedIn: true}); -%>


<div class="container">

        <!-- Exhibit status table -->
        <div class="card p-2 m-2 shadow-sm">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img style="height: 5em;" src=<%= stale ? "/images/sad_mac.png" : "/images/happy_mac.png" %> >
            </div>
            <div class="flex-grow-1 ms-3">
              <h3 class="mt-0">Exhibit Status</h3>
              <p>
                Last heard from: <%= lastHeartbeat %><br>
                Current sketch: <%= activeSketch || "unknown" %>
              </p>
            </div>
            </div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="schedules-tab" data-bs-toggle="tab" data-bs-target="#schedules" type="button" role="tab" aria-controls="schedules" aria-selected="true">Schedules</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="sketches-tab" data-bs-toggle="tab" data-bs-target="#sketches" type="button" role="tab" aria-controls="sketches" aria-selected="false">Sketches</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user" type="button" role="tab" aria-controls="user" aria-selected="false">Users</button>
          </li>
        </ul>

        
        
        
        <div class="tab-content" id="myTabContent">
          <!-- Schedules tab -->
          <div class="tab-pane fade show active" id="schedules" role="tabpanel" aria-labelledby="schedules-tab">
            <div class="card p-2 m-2 shadow-sm">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scheduleModal">New Schedule</button>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% schedules.forEach(function(schedule) { %>
                    <tr>
                      <td><%= schedule.id %></td>
                      <td><%= schedule.title %></td>
                      <td>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scheduleModal">Edit</button>
                      </td>
                    </tr>
                  <% }); %>

                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="sketches" role="tabpanel" aria-labelledby="sketches-tab">
            <!-- Sketch table card -->
            <div class="card p-2 m-2 shadow-sm">
              <h3>Sketches</h3>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Title</th>
                      <th scope="col">User</th>
                      <th scope="col">Created At</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% sketches.filter((sketch) => sketch.status === 'APPROVED').forEach(function(sketch) { %>
                          <% if( sketch.id == activeRow) { %>
                            <tr class="table-success">
                          <% } else if(sketch.id == pendingRow) { %>
                            <tr class="table-warning">
                          <% } else { %>
                            <tr>
                          <% } %>
                              <th scope="row"><%= sketch.id %></th>
                              <td><%= sketch.title %></td>
                              <td><%= sketch.userEmail %></td>
                              <td ><%= (new Date(sketch.createdAt)).toLocaleDateString("en-US") %></td>
                              <td>
                                <form action="/sketch/select" method="post">
                                  <% if( sketch.id == activeSketch) { %>
                                    <button class="btn btn-primary" disabled>Running</button>
                                  <% } else if(sketch.id == pendingRow) { %>
                                    <button class="btn btn-primary" disabled>Pending</button>
                                  <% } else { %>
                                    <button name="sketchId" value="<%= sketch.id %>" class="btn btn-primary">Run</button>
                                  <% } %>
                              </form>
                              </td>
                          </tr>
                      <% }); %>
                  </tbody>
                </table>
            </div>

            <div class="card p-2 m-2 shadow-sm">
              <h3>Unapproved Sketches</h3>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Title</th>
                      <th scope="col">User</th>
                      <th scope="col">Created At</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% sketches.filter((sketch) => sketch.status === 'PENDING').forEach(function(sketch) { %>
                            <tr>
                              <th scope="row"><%= sketch.id %></th>
                              <td><a href="/sketch?sketchID=<%= sketch.id %>" ><%= sketch.title %></a></td>
                              <td><%= sketch.userEmail %></td>
                              <td ><%= (new Date(sketch.createdAt)).toLocaleDateString("en-US") %></td>
                              <td>
                                <form action="/sketch/evaluate" method="post">
                                    <input name="sketchID" type="hidden" value="<%= sketch.id %>"></input>
                                    <button name="status" value="APPROVED" class="btn btn-success">Approve</button>
                                    <button name="status" value="REJECTED" class="btn btn-danger">Reject</button>
                                </form>
                              </td>
                          </tr>
                      <% }); %>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
             <!-- User table -->

         <div class="card p-2 m-2 shadow-sm">
          <h3>Users</h3>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Email</th>
                  <th scope="col">Permission Level</th>
                </tr>
              </thead>
              <tbody>
                  <% users.forEach(function(user) { %>
                        <tr>
                          <td><%= user.email %></td>
                          <td><%= user.admin ? "Admin" : "Standard" %></td>
                      </tr>
                  <% }); %> 
              </tbody>
          </table>

        </div>
      </div>
    </div>

    <div>
      <p>
        <%= JSON.stringify(schedules) %>
      </p>
    </div>

    <!-- Modal Content -->

    <!-- Create Schedule -->
    <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="scheduleModalLabel">Create Schedule</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mp-3">
                <label for="formScheduleTitle" class="form-label">Name</label>
                <input type="text" class="form-control" id="formScheduleTitle">
              </div>

              <div class="mp-3">
                <label class="form-label">Sketches</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="foo.zip" readonly>
                  <button class="btn btn-outline-secondary" type="button">Up</button>
                  <button class="btn btn-outline-secondary" type="button">Down</button>
                  <button class="btn btn-outline-secondary" type="button">Remove</button>
                </div>

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="foo.zip" readonly>
                  <button class="btn btn-outline-secondary" type="button">Up</button>
                  <button class="btn btn-outline-secondary" type="button">Down</button>
                  <button class="btn btn-outline-secondary" type="button">Remove</button>
                </div>

                <div class="input-group">
                  <input type="text" class="form-control" placeholder="foo.zip" readonly>
                  <button class="btn btn-outline-secondary" type="button">Up</button>
                  <button class="btn btn-outline-secondary" type="button">Down</button>
                  <button class="btn btn-outline-secondary" type="button">Remove</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>

<%- include('footer'); -%>