<%- include('header'); -%>
<div class="container px-4">
  <h2>What is <%=title%>?</h2>
  <p>
    <%=title%> is a dynamic, digital, art exhibit on the OSU cascades campus.
    <%=title%> makes use of a number of sensors, most notably a Microsoft
    Kinect. It uses the information pulled from the sensors to create evocative
    and compelling pieces of art. And the best part is that you can submit your
    own "sketches" to be displayed on <%=title%>!
  </p>
  <h2>How can I add my own work to <%=title%>?</h2>
  <p>
    To add a "sketch" to <%=title%> submit a zip file of a processing sketch in
    the form below. Don't know what those words mean, then check out some of the
    helpful links below and feel free to email us. All sketches will be vetted
    to ensure that they work properly with the <%=title%> setup and adhear to
    OSU's guidelines.
  </p>
  <h2>Submit a "Sketch"</h2>
  <form action="/sketch" method="post", enctype="multipart/form-data">
    <!-- <label for="email">OSU Email</label>
    <input id="email" name="email" type="text" /> -->
    <br />
    <label for="file">Processing Zip File</label>
    <input id="file" name="file" type="file" accept=".zip" />
    <br />
    <input type="submit" />
  </form>
  <h2>Helpful Links</h2>
  <ul>
    <li><a href="https://processing.org/">Processing</a></li>
    <li><a href="https://shiffman.net/p5/kinect/">Kinect for Processing</a></li>
  </ul>
</div>
<%- include('footer'); -%>
