extends layout

block content
  h1= title
  h2 What is #{title}?
  p #{title} is a dynamic, digital, art exhibit on the OSU cascades campus. #{title} makes use of a number of sensors, most notably a Microsoft Kinect. It uses the information pulled from the sensors to create evocative and compelling pieces of art. And the best part is that you can submit your own "sketches" to be displayed on #{title}!
