<%- include('header', { admin, signedIn }); -%>

<div class="container">
  <div class="card p-2 m-2 shadow-sm">
    <h3>My Sketches</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Created At</th>
          <th scope="col">Actions</th>
          <th scope="col">Approval Status</th>
          <th scope="col">Rejection Reason</th>
        </tr>
      </thead>
      <tbody>
        <% sketches.forEach(function(sketch) { %>
          <td><a href="/sketch?sketchID=<%= sketch.id %>" ><%= sketch.title %></a></td>
            </form>
          </td>
          <td ><%= (new Date(sketch.createdAt)).toLocaleDateString("en-US") %></td>
          <td>
            <form action="/sketch/pull" method="post">
              <button name="sketchID" value="<%= sketch.id %>" class="btn btn-danger">Pull from Exhibit</button>
            </form>
          </td>
          <td class="<%= {PENDING: "bg-warning", APPROVED: "bg-success text-white", REJECTED: "bg-danger  text-white" }[sketch.status] %>"><%= sketch.status %></td>
          <td><%= sketch.rejectionReason %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<%- include('footer'); -%>
